DATABASE_URL=postgresql://[USER]:[PASSWORD]@[localhost|THINKSTORM_POSTGRES_DB_IMAGE_NAME]:[PORT]/[DB_NAME]
DATABASE_UNIT_TEST_URL=postgresql://[USER]:[PASSWORD]@[localhost|THINKSTORM_POSTGRES_DB_IMAGE_NAME]:[PORT]/[UNIT_TEST_DB_NAME]
DATABASE_E2E_TEST_URL=postgresql://[USER]:[PASSWORD]@[localhost|THINKSTORM_POSTGRES_DB_IMAGE_NAME]:[PORT]/[E2E_TEST_DB_NAME]
DATABASE_COVERAGE_TEST_URL=postgresql://[USER]:[PASSWORD]@[localhost|THINKSTORM_POSTGRES_DB_IMAGE_NAME]:[PORT]/[COVERAGE_DB_NAME]
JWT_SECRET=THINKSTORM_JWT_SECRET
JWT_EXPIRES_IN=THINKSTORM_JWT_EXPIRES_IN
JWT_COOKIE_EXPIRES_IN=THINKSTORM_COOKIE_EXPIRES_IN
REDIS_HOST=[localhost|THINKSTORM_REDIS_DB_HOST]
REDIS_USER=REDIS_USER
REDIS_PASSWORD=REDIS_PASSWORD
REDIS_PORT=REDIS_PORT
REDIS_THROTTLER_DB=THROTTLER_REDIS_DB_NUM
REDIS_CACHING_DB=CACHING_REDIS_DB_NUM
REDIS_CACHING_TTL=CACHING_REDIS_TTL
REDIS_THROTTLER_URL=redis://[REDIS_USER]:[REDIS_PASSWORD]@[localhost|THINKSTORM_REDIS_DB_IMAGE_NAME]:[REDIS_PORT]/[THROTTLER_REDIS_DB_NUM]
GITHUB_ACTIONS_REDIS_THROTTLER_URL=redis://[REDIS_USER]:[REDIS_PASSWORD]@[localhost|THINKSTORM_REDIS_DB_IMAGE_NAME]:[REDIS_PORT]/[THROTTLER_REDIS_DB_NUM]
REDIS_CACHING_URL=redis://[REDIS_USER]:[REDIS_PASSWORD]@[localhost|THINKSTORM_REDIS_DB_IMAGE_NAME]:[REDIS_PORT]/[CACHING_REDIS_DB_NUM]
GITHUB_ACTIONS_REDIS_CACHING_URL=redis://[REDIS_USER]:[REDIS_PASSWORD]@[localhost|THINKSTORM_REDIS_DB_IMAGE_NAME]:[REDIS_PORT]/[CACHING_REDIS_DB_NUM]
NODE_ENV=[development|production]
FRONTEND_URL=FRONT_URL
ENVELOOP_API_KEY=YOUR_ENVELOOP_API_KEY_HERE
CONTRACT_ACCESS_TOKEN=YOUR_OWN_ACCESS_TOKEN
